@model WebTest.Models.Products.ProductInspectModel

<div class="row">

    <!--CAROUSSEL-->
    <div class="col-sm-8">
        <h2>@Model.Product.Title</h2>
    
        @{
            if (Model.Product.ImagePaths.Count > 0)
            {
                <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < Model.Product.ImagePaths.Count; i++)
                        {
                            <li data-target="#imageCarousel" data-slide-to="@i"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <img src="@Model.Product.ImagePaths[0]" alt="Primay">
                        </div>

                        @for (int i = 1; i < Model.Product.ImagePaths.Count; i++)
                        {
                            <div class="item">
                                <img src="@Model.Product.ImagePaths[i]" alt="No @i">
                            </div>
                        }

                    </div>
                    
                    <!-- Left and right controls -->
                    <!--
                    <a class="left carousel-control" href="#imageCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#imageCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    -->
                </div>
            }
        }
        

        <p>@Model.Product.Description</p>
    </div>

    <!--RIGHTHAND-->
    <div class="col-sm-4 panel panel-default">
        <h3>@Model.Product.Price kr,-</h3>
        <button class="btn btn-default">Info</button> 
    </div>
</div>
